.btn{
    margin-top: -30px;
}
.nav-btn {
    border-radius: 30px;
}
.new-btn{
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-collab{
    margin-top: 3px;
}
.btn-submit {
    margin-top: 1rem;
}
.btn-services {
    height: 3rem;
}
