.dashboard-banner h1 {
    margin: 0 0 20px 0;
    font-size: 24px;
}

.dashboard-banner ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard-banner ul li {
    margin-bottom: 15px;
}

.dashboard-banner ul li a {
    display: inline-block;
    width: 80%;
    padding: 12px 0;
    background-color: white;
    color: #289759;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}