#hero-section {
    overflow: hidden;
}
.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
    gap: 3rem;
}
.hero-title h1 {
    text-align: center;
    font-size: 60px;
    max-width: 600px;
    color: #0b9c4c;
}
.hero-text{
    margin-top: 30px;
}
.section1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
}

.video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.green-tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 126, 43, 0.473);
    z-index: 1;
    pointer-events: none;
}

.section1-text{
    max-width: 500px;
}
.section-text{
    margin-left: 100px;
}
.section-textlinks {
    max-width: 450px;
    font-size: 48px;
}